//
//  Debug.xcconfig
//  Transformer
//
//  Created by Siddharth kadian on 17/02/21.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Pods/Target Support Files/Pods-Transformer/Pods-Transformer.debug.xcconfig"

API_BASE_URL = ​https:/$()/transformers-api.firebaseapp.com/
